{% extends 'StoryBlog/base.html' %}{% block page_content %}


<body>

    <h1>Welcome! {{request.session.firstName}} {{request.session.lastName}}</h1>
    <h3>User number {{request.session.userid}}</h3>

    

    <form action='/postAddStory' method='POST'>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Title</label>
            <input type="text" class="form-control" placeholder="title" id="inputDefault">
          </div>
        <div class="form-group">
            <label for="exampleTextarea">Write your story here</label>
            <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
          </div>
    </form>
</body>
{% endblock %}