{% extends 'StoryBlog/base.html' %}{% block page_content %}

<body>

    <h1>Welcome! {{request.session.firstName}} {{request.session.lastName}}</h1>
    <h3>User number {{request.session.userid}}</h3>





    <button href='/main/addstory' type="button" class="btn btn-primary btn-lg btn-block">
        <h2>Start a new Story</h2>
    </button>


    <h2>List of stories by this user</h2>

    <table >
        <tr>
            <th>Title</th>
            <th>Created On</th>
            <th>Options</th>
        </tr>
        {% for m in stories %}
        <tr>
            <td>{{m.title}}</td>
            <td>{{m.pubDate}}</td>
            <td><a href='/main/storypage/{{m.id}}'>go to Story page</a></td>
            <td> {% if m.user.id == request.session.userid %}
                <div style="display:inline;">

                    <a href='/main/editstory/{{m.id}}'>edit</a>
                    <a href='/main/deletestory/{{m.id}}'>delete</a>
                </div>
                {% else %}
                <div style="display:none;">
                    <a href='/main/editstory/{{m.id}}'>edit</a>
                    <a href='/main/deletestory/{{m.id}}'>delete</a>
                </div>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>



</body>
{% endblock %}