{% extends 'StoryBlog/base.html' %}{% block page_content %}

<body>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">


    {% if user.is_authenticated %}
    <h2>You are authenticated</h2>
    <h1>Welcome! {{ user.username }}</h1>
    {% else %}
    <h2>You are not authenticated</h2>
    {% endif %}

</li>
<li class="nav-item">
    <a class="nav-link" href="/frontpage">frontpage</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/storypage">storypage</a>
</li>
<li class="nav-item">
    <a class="nav-link" href='/main/addstory'>addstory</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">logout</a>
</li>
</ul>
    <h2>List of stories by this user</h2>

    <table >
        <tr>
            <th>Title</th>
            <th>Created On</th>
            <th>Options</th>
        </tr>
        {% for m in stories %}
        <tr>
            <td>{{m.title}}</td>
            <td>{{m.pubDate}}</td>
            <td><a href='/main/storypage/{{m.id}}'>go to Story page</a></td>
            <td> {% if m.user.id == request.session.userid %}
                <div style="display:inline;">

                    <a href='/main/editstory/{{m.id}}'>edit</a>
                    <a href='/main/deletestory/{{m.id}}'>delete</a>
                </div>
                {% else %}
                <div style="display:none;">
                    <a href='/main/editstory/{{m.id}}'>edit</a>
                    <a href='/main/deletestory/{{m.id}}'>delete</a>
                </div>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>



</body>
{% endblock %}